{% extends 'layout/layout.html' %}  {# Extiende del archivo 'layout.html' para heredar su estructura y estilos #}
{% load static %}  {# Carga los archivos estáticos como CSS, JavaScript, imágenes, etc. #}

{% block title %}  {# Define el título de la página #}
Noticias Campus - Universidad CEICOTOL
{% endblock %}

{% block content %}  {# Define el contenido principal de la página #}
<h2 class="title">Noticias Campus</h2>  {# Título principal de la sección de noticias #}
<br>
{{ block.super }}  {# Renderiza el contenido heredado del bloque 'content' del archivo padre (layout.html) #}

<div class="card">  {# Define una tarjeta para mostrar una imagen #}
    <img src="{% static '/img/Edificio_ingenieria.png' %}" alt="Edificio de ingieneria">  {# Inserta una imagen estática del nuevo edificio de ingeniería #}
</div>

<div class="card-body">  {# Define el cuerpo de la tarjeta para el contenido de la noticia #}

    <h5 class="card-title" >Inauguración del Nuevo Edificio de Ingeniería</h5>  {# Título de la noticia #}
    <br>
    <p class="card-text">  {# Contenido de la noticia #}
        La Universidad CEICOTOL, comprometida con la excelencia académica y la formación integral de sus estudiantes, se enorgullece en anunciar la inauguración de su nuevo edificio de Ingeniería. Este moderno complejo está equipado con laboratorios de última generación y espacios de estudio innovadores, diseñados para inspirar y potenciar el aprendizaje de nuestros futuros ingenieros. Con esta nueva infraestructura, reafirmamos nuestro compromiso con la educación de calidad y la preparación de profesionales capaces de enfrentar los desafíos del mundo actual y contribuir al avance de la sociedad y la tecnología...
        <a href="#" class="btn btn-primary">Leer más.</a>  {# Enlace para leer más sobre la noticia #}
    </p>
</div>

{% endblock %}



