{% extends 'layout/layout.html' %}  {# Hereda el layout base para esta página #}

{% block title %}
    Quienes Somos - Universidad Ceicotol Tolima  {# Define el título de la página #}
{% endblock %}

{% block content %}
    <!-- Encabezado principal de la página -->
    <h1 class="card-title" >Bienvenidos a la Universidad Ceicotol Tolima</h1>  
    <!-- Descripción general de la universidad -->
    <p>La Universidad Ceicotol Tolima es una institución educativa comprometida con la excelencia académica y la formación integral de sus estudiantes. Nuestra universidad se fundó con la visión de proporcionar oportunidades de educación superior de calidad y contribuir al desarrollo socioeconómico de la región y el país.</p>
    <br/>
    <!-- Información sobre la oferta académica -->
    <p>Nuestra oferta académica incluye una amplia variedad de programas de pregrado y posgrado en áreas como ingeniería, ciencias sociales, ciencias de la salud, humanidades y más. Estamos comprometidos con la investigación de vanguardia y la innovación en la enseñanza, preparando a nuestros estudiantes para enfrentar los desafíos del mundo actual y contribuir al progreso de la sociedad.</p>
    <br/>
    <!-- Enfatizando el ambiente inclusivo y diverso -->
    <p>En la Universidad Ceicotol Tolima, fomentamos un ambiente inclusivo y diverso donde todos los miembros de nuestra comunidad pueden crecer intelectualmente, desarrollar sus talentos y contribuir al bien común. Nuestro cuerpo docente altamente calificado y comprometido está dedicado a brindar una educación de clase mundial y apoyar el éxito académico y personal de nuestros estudiantes.</p>
    <br/>
    <!-- Detallando las actividades extracurriculares y eventos -->
    <p>Además de la excelencia académica, ofrecemos una amplia gama de actividades extracurriculares, eventos culturales y oportunidades de liderazgo que enriquecen la experiencia estudiantil y promueven el crecimiento personal y profesional.</p>
    <br/>
    <!-- Conclusión y llamado a la acción -->
    <p>En la Universidad Ceicotol Tolima, estamos orgullosos de nuestra herencia y comprometidos con el futuro. Únete a nuestra comunidad y descubre un mundo de posibilidades para alcanzar tus metas educativas y profesionales.</p>
{% endblock %}


