*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8fb6bb;
}

header{
    width: 100%;
    max-width: 1212px; /* Limita el ancho máximo */
    height: 140px;
    background-color: #c9ddf6;
    margin: 0 auto;
}

.logotipo h1{
    margin-top: 26px;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #06748c;
}

.logotipo img{
    width: 120px;
    margin-top: 5px;
}

.logotipo{
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    width: 75%;
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

nav{
    width: 100%;
    max-width: 1150px; /* Limita el ancho máximo */
    height: 40px;
    background-color: #0f5971;
    border: 1px solid #063a8e;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
}

nav ul{
    list-style: none;
    text-decoration: none;
    display: flex; /* Asegura una distribución en línea */
    padding: 0; /* Elimina el relleno por defecto */
}

nav ul li{
    line-height: 40px;
}

nav ul li a{
    display: block;
    padding: 0 20px;
    color: #d1d4d6;
    text-decoration: none; /* Remueve el subrayado */
}

nav ul li a:hover{
    background: #04327d;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 100%;
    max-width: 1250px; /* Limita el ancho máximo */
    margin: 0 auto 70px auto;
}

.izq, .der, .relleno{
    background: #2b2f30;
}

.izq, .der{
    height: 10px; /* Altura para los triángulos */
    width: 0;
    border-style: solid;
}

.izq{
    border-width: 0 20px 10px 0;
    border-color: transparent #2b2f30 transparent transparent;
}

.der{
    border-width: 0 0 10px 20px;
    border-color: transparent transparent transparent #2b2f30;
}

.relleno{
    width: calc(100% - 40px); /* Ajusta el ancho */
    height: 10px;
    display: inline-block;
}

#content{
    width: 100%;
    max-width: 1212px; /* Limita el ancho máximo */
    min-height: 930px;
    margin: 40px auto 30px auto;
    background-color: #0f5971;
}

.box{
    background: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #0f5971;
    margin: 0 auto;
}

footer{
    width: 100%;
    max-width: 1250px; /* Limita el ancho máximo */
    background-color: #0f5971;
    border: 1px solid #0f5871a9;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(29, 11, 147, 0.612);
    margin: 0 auto;
    font-size: 20px;
}

/* Estilo específico para formularios y sus elementos */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2ba977;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #1d6448;
}

.rojo{
    color:red;
    box-shadow: 0px 0px 4px black ;
}
.message{
    padding: 20px;
    background: #2ba977;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}
.article-item{
    margin:20px 0px;
    padding: 15px;
    border-bottom: 1px solid #eee;
    clear:both;

}
article-item .image{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}
article-item .image .img{
    width: 200px;
}

/* Noticias */
.title{
    color: #b7812a;
    letter-spacing: 1px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.card-body
{
    font-family: Arial, sans-serif; /* Tipo de fuente */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    color: #333; /* Color de texto */
    font-weight: bold; /* Texto en negrita */ 
    color: #000000; /* Color de enlaces */ 
    text-decoration: underline; /* Subrayado al pasar el mouse */
    text-align: justify
}

/* Estilos para el formulario */
form {
    width: 50%;
    margin: 0 auto; /* Centrar el formulario horizontalmente */
}

/* Estilos para las etiquetas y los campos de entrada */
label {
    display: block; /* Mostrar las etiquetas en una línea separada */
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%; /* Ajustar el ancho al 100% del contenedor */
    padding: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #0f5971; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Eliminar el borde del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* Estilos para la respuesta de SweetAlert */
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo del overlay */
}
.swal-modal {
    background-color: #054992; /* Color de fondo del modal */
    border-radius: 5px; /* Bordes redondeados del modal */
    width: 295px; /* Ancho del modal */
}
.swal-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Margen inferior del título */
}
.swal-text {
    font-size: 35px; /* Tamaño de fuente del texto */
    margin-bottom: 35px; /* Margen inferior del texto */
}
.swal-button {
    background-color: #0f5971; /* Color de fondo de los botones */
    color: #fff; /* Color del texto de los botones */
    padding: 10px 20px; /* Espaciado interno de los botones */
    border: none; /* Eliminar el borde de los botones */
    cursor: pointer; /* Cambiar el cursor al pasar sobre los botones */
}

/*inicio de sesion */

form {
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

img{
    display: block;
    margin: auto;
    width: 70%;
}

/* Contenedor principal que envuelve a todos los contenedores de carreras */
.main-container {
    display: flex;
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start;  /* Alinea los elementos al inicio verticalmente */
    margin-top: 30px; /* Margen superior del contenedor principal */
}

/* Contenedor principal de las carreras */
.career-container {
    display: flex;
    flex-direction: column; /* Ajusta la dirección de los elementos a columna */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: space-between; /* Espacio entre los elementos */
    margin-bottom: 20px;  /* Espacio entre los contenedores */
    width: 45%;  /* Ancho del contenedor */
    border-radius: 15px; /* Redondea las esquinas del contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    box-shadow: 0 4px 8px #10617c; /* Sombra ligera para dar profundidad */
    margin-top: 20px; /* Margen superior del contenedor */
    border: 1px solid #0f5971; /* Borde para el contenedor */
    padding: 20px; /* Añade espacio interno al contenedor */
}

/* Estilo para el título de la carrera */
.career-container h2 {
    font-size: 20px;  /* Tamaño de la fuente del título */
    margin-bottom: 10px;  /* Espacio inferior del título */
    margin-top: 0; /* Elimina el margen superior del título */
}

/* Estilo para los textos en las carreras */
.texto-carrera {
    font-size: 16px;  /* Tamaño de la fuente */
    line-height: 1.5; /* Espaciado entre líneas */
    color: #333;      /* Color del texto */
    margin-bottom: 15px; /* Margen inferior */
    margin-top: 0; /* Elimina el margen superior */
}

/* Estilo para la imagen y el título */
.career-image-container {
    position: relative; /* Establece la posición relativa para el contenedor */
    width: 100%;
    max-height: 400px; /* Altura máxima de la imagen */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.career-image {
    width: 100%; /* Ajusta la anchura de la imagen al contenedor */
    vertical-align: middle;
}

.career-title-over-image {
    position: absolute; /* Establece la posición absoluta para el título */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde la izquierda */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para el texto */
    padding: 10px; /* Espacio interno alrededor del texto */
    font-size: 24px; /* Tamaño de fuente */
}

/* Estilo para el enlace de contacto */
.contact-link {
    display: block; /* Convierte el enlace en un bloque */
    margin-top: 20px; /* Margen superior */
    color: #007BFF; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Texto en negrita */
}


