{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<h1>Detalles de la carrera</h1>
<br>
<p>Explora nuestras carreras y descubre tu pasión:</p>
<br>
<div class="detail_main-container">
    <div class="detail_career-container">
        <img src="{{ DetalleCarrera.imagenesCarrera.url }}" alt="{{ DetalleCarrera.NombreCarrera }}" class="career-image">
        <h2 class="texto-carrera">{{ DetalleCarrera.NombreCarrera }}</h2>
        <p class="texto-carrera">Descripcion: {{ DetalleCarrera.DescripcionCarrera }}</p>
        <p class="texto-carrera">Duración: {{ DetalleCarrera.DuracionCarrera }}</p>
        <p class="texto-carrera">Créditos: {{ DetalleCarrera.CostoCarrera }} COP</p>
        <a href="{% url 'inscripcion_carrera' DetalleCarrera.id %}">Inscribirse</a>
    </div>
</div>
{% endblock %}
