{% load static %}  {# Carga los archivos estáticos, como CSS, imágenes y JavaScript #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Incluye la hoja de estilos CSS y el icono de la página desde los archivos estáticos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'icons/logo.png' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <title>
        {% block title %}
            Inicio  {# Define el título de la página, que se puede sobrescribir en las páginas que heredan este layout #}
        {% endblock %}
    </title>
</head>
<body>
    <!-- Encabezado de la página con el logotipo y el título de la universidad -->
    <header>
        <div class="logotipo">
            <img src="{% static 'img/logo UCT.png' %}" alt="">
            <h1>Universidad Ceicotol Tolima
                <br> Aula virtual
            </h1>
        </div>
    </header>
    
    <!-- Barra de navegación con enlaces a las diferentes secciones y opciones para iniciar sesión y crear un usuario -->
    <nav>
        <ul>
            <!-- Enlaces a las secciones principales del sitio web -->
            <li>
                <a href="{% url 'home' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'carreras' %}">Carreras</a>
            </li>
            <li>
                <a href="{% url 'materias' %}">Materias</a>
            </li>
            
            <li><a href="{% url 'profesores' %}">Profesores</a></li>
    
            <li>
                <a href="{% url 'QuienesSomos' %}">Quienes Somos</a>
            </li>
            <li> 
                <a href="{% url 'noticias' %}">Noticias</a>
            </li>
            {% if user.is_authenticated and user.profesor %}
            <li><a href="{% url 'seleccionar_materias' %}">Seleccionar Materias</a></li>
            
          {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
            {% else %}
            <ul class="navbar-nav align-right">
                <li>
                    <a href="{% url 'login'%}">Inicio de Sesión</a>
                </li>
                <li><a href="{% url 'register'%}">Crear usuario</a></li>
          {% endif %}
          <!-- Mostrar enlace para profesores autenticados -->
          
          <!-- Mostrar enlace para iniciar sesión como profesor si no está autenticado como profesor -->
          
      
            </ul>
        </ul>
    </nav>
    

    
    <!-- Contenido principal de la página, que puede ser sobrescrito en las páginas que heredan este layout -->
    <div id="content">
        <div class="box">
            {% block content %}
                <!-- Contenido principal de la página -->
                <strong> </strong>
            {% endblock %}
        </div>
    </div>
    
    <!-- Pie de página con el nombre de la universidad y la fecha actual -->
    <footer>
        Universidad Ceicotol Tolima &copy; Enseñando un mejor futuro -{%now 'd/m/Y h:m'%}
    </footer>

    <script>
        console.log({{user.profesor}})
    </script>

    <script>
        {% if messages %}
            $(document).ready(function() {
                {% for message in messages %}
                    toastr["{{ message.tags }}"]("{{ message }}");
                {% endfor %}
            });
        {% endif %}
    </script>
</body>
</html>

