{% extends 'layout.html' %}
{% load static %}

{% block title %}  
Administracion de Empresas
{% endblock %}

{% block content %}
<div class="Administracion">
    <div class="career-image-container">
        <img src="{% static 'img/administracion_empresas.jpg' %}" alt="Administración de Empresas" class="career-image">
        <h2 class="career-title-over-image">Administración de Empresas</h2>
    </div>
    <p class="texto-carrera">Descripción: Este programa de administración de empresas forma a profesionales capacitados para dirigir y gestionar organizaciones en el sector público y privado. Los estudiantes adquieren conocimientos en finanzas, marketing, recursos humanos y estrategia empresarial, preparándolos para liderar equipos y tomar decisiones estratégicas en el mundo empresarial.</p>
    <h3>Plan de Estudios</h3>
    <ul>
        <li>Semestre 1: Introducción a la administración, Matemáticas financieras</li>
        <li>Semestre 2: Contabilidad financiera, Marketing básico</li>
        <li>Semestre 3: Finanzas corporativas, Recursos humanos</li>
        <li>Semestre 4: Estrategia empresarial, Comercio internacional</li>
        <li>Semestre 5: Gestión de proyectos, Ética empresarial</li>
        <li>Semestre 6: Análisis financiero, Dirección estratégica</li>
        <li>Semestre 7: Innovación empresarial, Liderazgo y trabajo en equipo</li>
        <li>Semestre 8: Gestión de la calidad, Responsabilidad social empresarial</li>
        <li>Semestre 9: Práctica profesional, Emprendimiento</li>
        <li>Semestre 10: Seminario de investigación, Estrategias de negociación</li>
    </ul>
    <a href="{% url 'contacto' %}" class="contact-link">Contacto</a><br>
</div>
{% endblock %}






