{% extends 'layout.html' %}  <!-- Extiende el layout base 'base.html' -->

{% block content %} 

<h2>Bienvenido, {{ request.user.username }}</h2>  <!-- Muestra el nombre de usuario actual -->
<div>
    <h3>Materias asignadas</h3>  <!-- Título para la sección de materias asignadas -->
    <ul>
        {% for materia in materias %}  <!-- Itera sobre la lista de materias -->
        <li>{{ materia.nombre }} - <a href="{% url 'eliminar_materia' materia.id %}" onclick="return confirm('¿Estás seguro?');">Eliminar</a></li>  <!-- Muestra el nombre de la materia y un enlace para eliminarla -->
        {% empty %}
        <li>No tienes materias asignadas.</li>  <!-- Mensaje mostrado si no hay materias asignadas -->
        {% endfor %}
    </ul>
</div>
<div>
    <h3>Agregar Materia</h3>  <!-- Título para la sección de agregar materia -->
    <form method="post" action="{% url 'agregar_materia' %}">  <!-- Formulario para agregar una nueva materia -->
        {% csrf_token %}  <!-- Añade un token CSRF para proteger el formulario de ataques CSRF -->
        <!-- Asumiendo que tienes un formulario para esto, muestra el formulario -->
        {{ form.as_p }}
        <button type="submit">Agregar Materia</button>  <!-- Botón para enviar el formulario y agregar la materia -->
    </form>
</div>

{% endblock %}  
