{% extends 'layout.html' %}  <!-- Extiende el layout 'layout.html' -->

{% block title %}  
Recuperar Contraseña
{% endblock %}  <!-- Cierra el bloque del título -->

{% block content %}  

<h1>Recuperar Contraseña</h1>  <!-- Título de la página -->

<form method="POST">  <!-- Inicia el formulario -->
    {% csrf_token %}  <!-- Token CSRF para proteger el formulario de ataques CSRF -->
    
    <label for="email">Correo Electrónico:</label><br>  <!-- Etiqueta para el campo de correo electrónico -->
    <input type="email" id="email" name="email" class="form-control"><br>  <!-- Campo de entrada para el correo electrónico -->
    
    <input type="submit" value="Enviar Instrucciones" class="btn btn-primary">  <!-- Botón para enviar el formulario -->
</form>

{% endblock %}  


