{% extends 'layout.html' %}
{% load static %}

{% block title %}  
Ingenieria de sistemas
{% endblock %}

{% block content %}
<div class="center-container">
    <img src="{% static 'img/sistemas.jpg' %}" alt="Ingeniería Informática" class="career-image">
    <h2 class="career-title">Ingeniería Informática</h2>
    <p class="texto-carrera">Descripción: Este programa de ingeniería informática prepara a los estudiantes para diseñar, desarrollar y gestionar sistemas de información. Los estudiantes adquieren habilidades en programación, redes, seguridad informática y gestión de proyectos, lo que les permite innovar en el ámbito tecnológico y contribuir al avance de la sociedad digital.</p>
    <h3>Plan de Estudios</h3>
    <ul>
        <li>Semestre 1: Introducción a la programación, Matemáticas básicas</li>
        <li>Semestre 2: Estructuras de datos, Fundamentos de redes</li>
        <li>Semestre 3: Programación orientada a objetos, Bases de datos</li>
        <li>Semestre 4: Seguridad informática, Sistemas operativos</li>
        <li>Semestre 5: Desarrollo web, Inteligencia artificial</li>
        <li>Semestre 6: Redes avanzadas, Diseño de software</li>
        <li>Semestre 7: Cloud computing, Computación móvil</li>
        <li>Semestre 8: Proyecto de grado, Ética informática</li>
        <li>Semestre 9: Práctica profesional, Innovación tecnológica</li>
        <li>Semestre 10: Seminario de investigación, Emprendimiento tecnológico</li>
    </ul>
    <a href="{% url 'contacto' %}">Quieres saber mas..</a><br>
</div>
{% endblock %}