{% load static %}  {# Carga los archivos estáticos, como CSS, imágenes y JavaScript #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Incluye la hoja de estilos CSS y el icono de la página desde los archivos estáticos -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'icons/logo.png' %}"/>
    
    <title>
        {% block title %}
            Inicio  {# Define el título de la página, que se puede sobrescribir en las páginas que heredan este layout #}
        {% endblock %}
    </title>
</head>
<body>
    <!-- Encabezado de la página con el logotipo y el título de la universidad -->
    <header>
        <div class="logotipo">
            <img src="{% static 'img/logo UCT.png' %}" alt="">
            <h1>Universidad Ceicotol Tolima
                <br> Aula virtual
            </h1>
        </div>
    </header>
    
    <!-- Barra de navegación con enlaces a las diferentes secciones y opciones para iniciar sesión y crear un usuario -->
    <nav>
        <ul>
            <!-- Enlaces a las secciones principales del sitio web -->
            <li>
                <a href="{% url 'Inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'Saludo' %}">Carreras</a>
            </li>
            <li>
                <a href="{% url 'QuienesSomos' %}">Quienes Somos</a>
            </li>
            <li>
                <a href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li> 
                <a href="{% url 'Hola Mundo' %}">Noticias</a>
            </li>
            
            <!-- Opciones para iniciar sesión, crear un usuario y recuperar contraseña -->
            <ul class="navbar-nav align-right">
                <li>
                    <a href="{% url 'login'%}">Inicio de Sesión</a>
                </li>
                <li>
                    <a href="{% url 'create_user'%}">Crear usuario</a>
                </li>
                <li>
                    <a href="{% url 'forgot_password'%}">Recuperar Contraseña</a>
                </li>
            </ul>
        </ul>
    </nav>
    
    <!-- Barra decorativa que separa el contenido de la página -->
    <div class="barra">
        <span class="izq"></span>
        <span class="barra"></span>
        <span class="der"></span>
    </div>
    
    <!-- Contenido principal de la página, que puede ser sobrescrito en las páginas que heredan este layout -->
    <div id="content">
        <div class="box">
            {% block content %}
                <!-- Contenido principal de la página -->
                <strong> </strong>
            {% endblock %}
        </div>
    </div>
    
    <!-- Pie de página con el nombre de la universidad y la fecha actual -->
    <footer>
        Universidad Ceicotol Tolima &copy; Enseñando un mejor futuro -{%now 'd/m/Y h:m'%}
    </footer>
</body>
</html>

