{% extends 'layout.html' %}  {# Hereda el layout base para esta página #}
{% block title %}Iniciar Sesión{% endblock %}  {# Define el título de la página #}

{% block content %}
{%if messages %}
        {%for messages in messages%}
            <div class="alert alert-warning">
                {{messages}}
            </div>
        {%endfor%}
    {%endif%}
  <h1>Iniciar Sesión</h1>  {# Encabezado principal de la página #}
  
  <!-- Formulario para iniciar sesión -->
  <form method="post">
    {% csrf_token %}  {# Añade un token CSRF para proteger el formulario contra ataques CSRF #}
    
    <!-- Campo para ingresar el nombre de usuario -->
    <label for="username">Nombre de Usuario:</label><br>
    <input type="text" id="username" name="username"><br>
    
    <!-- Campo para ingresar la contraseña -->
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password"><br>
    
    <!-- Enlace para recuperar la contraseña -->
    <a href="{% url 'forgot_password' %}">Olvide mi contraseña</a><br>
    
    <!-- Botón para enviar el formulario y iniciar sesión -->
    <input type="submit" value="Iniciar Sesión">
  </form>
{% endblock %}





