{% extends 'layout.html' %}
{% load static %}

{% block title %}  
Psicología
{% endblock %}

{% block content %}
<div class="psicologia">
    <img src="{% static 'img/carrera_psicologia.jpg' %}" alt="Psicología" class="career-image">
    <h2 class="career-title">Psicología</h2>
    <p class="texto-carrera">Descripción: La carrera de Psicología proporciona conocimientos sobre el comportamiento humano y las emociones, así como habilidades para la evaluación y el tratamiento psicológico. Los estudiantes aprenden sobre diferentes corrientes psicológicas, métodos de investigación, diagnóstico y terapia, preparándolos para trabajar en diferentes áreas como clínicas, educativas, organizacionales y sociales.</p>
    <h3>Plan de Estudios</h3>
    <ul>
        <li>Semestre 1: Introducción a la psicología, Biología</li>
        <li>Semestre 2: Psicología del desarrollo, Métodos de investigación</li>
        <li>Semestre 3: Psicología social, Psicopatología</li>
        <li>Semestre 4: Neuropsicología, Terapias psicológicas</li>
        <li>Semestre 5: Psicología educativa, Psicología organizacional</li>
        <li>Semestre 6: Evaluación psicológica, Psicología clínica</li>
        <li>Semestre 7: Psicología de la salud, Psicología forense</li>
        <li>Semestre 8: Práctica profesional, Psicología comunitaria</li>
        <li>Semestre 9: Seminario de investigación, Psicología positiva</li>
        <li>Semestre 10: Ética profesional, Terapia familiar y de pareja</li>
    </ul>
    <a href="{% url 'contacto' %}">Contacto</a><br>
</div>
{% endblock %}